<p> <%=link_to t('.back'), products_path %> </p>

<div>
  <h2> <%= @product.title %> <h2>
  <p>  <%= t("helpers.label.product.price") %>: <%= @product.price %> </p>
  <p> <%= t("helpers.label.product.specification") %>: <%= @product.specification %> </p>
  <p> <%= t("helpers.label.product.description") %>: <%= @product.description %> </p>

  <% if policy(@product).edit? %>
    <p> <%=link_to t('.edit'), edit_product_path(@product) %> </p>
  <% end %>
  
  <% if policy(@product).destroy? %>
    <p> <%=button_to t('.delete'), product_path(@product), method: :delete %> </p>
  <% end %>
</div>
